@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'nprogress/nprogress.css';

#nprogress {
  z-index: 1200; /* Ensure it's above the AppBar */
}

/* TODO remember to use theme colors for this */
#nprogress .bar {
  background: rgb(17, 132, 9);
}